<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block tituloPagina %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/mio.css" rel="stylesheet">
    {% block aqui_css %}

    {% endblock %}
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>{% block cabecera %}{% endblock %}</h1>

        <p>{% block subcabecera %}{% endblock %}</p>
    </div>
    {% block bar %}

    {% endblock %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% block panel %}{% endblock %}</h3>
        </div>
        <div class="panel-body">
            {% block cuerpo %}

            {% endblock %}
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block aqui_js %}
{% endblock %}
</body>
</html>