{% extends 'principal.html' %}
{% block cabecera %}
    Búsqueda de productos
{% endblock %}
{% block subcabecera %}
    {{ supermercado.nombre }}
{% endblock %}
{% block panel %}
    Productos disponibles
{% endblock %}
{% block busqueda %}
    <form id="formulario" class="navbar-form navbar-left" role="search" method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nombreProducto }}
        </div>
        <button type="submit" class="btn btn-default">Buscar <span class=" glyphicon glyphicon-search"></span>
        </button>
    </form>

{% endblock %}
{% block categoria %}

    {% for cat in mnuCategorias %}
        {% if forloop.first %}
            <li {% ifequal catActual 0 %} class="active" {% endifequal %}><a href="/catalogo/{{ supermercado.id }}/0/">Todas</a>
            </li>
        {% endif %}
        <li {% ifequal catActual cat.id %} class="active"{% endifequal %}><a
                href="/catalogo/{{ supermercado.id }}/{{ cat.id }}/">{{ cat.nombre }}</a></li>
    {% endfor %}
{% endblock %}
{% block cuerpo %}
    <div class="row">
        {% for catalogo in catalogos %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/{{ catalogo.imagen }}" style="max-height: 200px">

                    <div class="caption">
                        <h3>{{ catalogo.producto.nombre }}</h3>

                        <h4>{{ catalogo.producto.descripcion }}</h4>

                        <h3><span
                                class="label label-info">S/.{{ catalogo.precio }}x{{ catalogo.producto.unidad }}</span>
                        </h3>

                        <p>
                            <a href="add_cart/{{ catalogo.id }}" class="btn btn-primary" role="button" style="width: 100%">Añadir al carrito</a>
                            {#                            <a href="#" class="btn btn-default" role="button">Detalles</a>#}
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <h3 style="display: block;margin: 3em auto;">No hay datos</h3>
        {% endfor %}
    </div>
{% endblock %}