{% extends 'principal.html' %}
{% block cabecera %}
    PEDIDOS DEL USUARIO
{% endblock %}
{% block subcabecera %}

{% endblock %}
{% block panel %}
    Listado de pedidos hechos por el usuario
{% endblock %}
{% block navbar %}
    <li><a href="{% url 'supermercados' %}">Comprar <span class="glyphicon glyphicon-hand-up"></span></a></li>
{% endblock %}

{% block cuerpo %}
    <table class="table table-condensed">
        <thead>
            <th>Fecha de pedido</th>
            <th>Hora de pedido</th>
            <th>Estado</th>
            <th>Dirección</th>
            <th>Precio Total</th>
            <th>Detalle</th>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr class="{% ifequal pedido.estado 'S' %}danger{% else %} {% ifequal pedido.estado 'E' %}success{% else %}warning{% endifequal %}{% endifequal %}">
                <td>{{ pedido.fecha_pedido }}</td>
                <td>{{ pedido.hora_pedido }}</td>
                <td>{% ifequal pedido.estado 'S' %}Aún no sale{% else %} {% ifequal pedido.estado 'E' %}Entregado{% else %}En camino{% endifequal %}{% endifequal %}</td>
                <td>{{ pedido.direccion }}</td>
                <td>{{ pedido.precio_total }}</td>
                <td><a href="{% url 'ver_detalle_pedido' pedido.id %}" type="button" class="btn btn-default">Ver Detalle</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}