{% extends 'base.html' %}
{% block aqui_css %}
    <link href="{{ STATIC_URL }}css/bootstrap-combobox.css" rel="stylesheet">
{% endblock %}
{% block bar %}
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->

        <form id="formulario" class="navbar-form navbar-left" role="search" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {% block busqueda %}

                {% endblock %}
                {# <input type="text" class="form-control" placeholder="Nombre del producto"> #}
            </div>
            <button type="submit" class="btn btn-default">Buscar <span class=" .glyphicon .glyphicon-search"></span>
            </button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/cerrar/">Cerrar sesión</a></li>
        </ul>

    </nav>
    <ul class="nav nav-pills">
        {% block categoria %}

        {% endblock %}
        {% comment %}<li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>{% endcomment %}
    </ul>
{% endblock %}
{% block aqui_js %}
    <script src="{{ STATIC_URL }}js/bootstrap-combobox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.combobox').combobox();
        });
    </script>
{% endblock %}