{% extends 'base.html' %}
{% block aqui_css %}
    <link href="{{ STATIC_URL }}css/bootstrap-combobox.css" rel="stylesheet">
{% endblock %}
{% block bar %}
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        {% block busqueda %}

        {% endblock %}

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/cerrar/">Carrito de compras <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li><a href="/cerrar/">Ver pedidos <span class="glyphicon glyphicon-plane"></span></a></li>
            <li><a href="/cerrar/">Contáctenos <span class="glyphicon glyphicon-phone-alt"></span></a></li>
            <li><a href="/cerrar/">Cerrar sesión <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>

    </nav>
    <ul class="nav nav-pills">
        {% block categoria %}

        {% endblock %}
        {% comment %}<li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>{% endcomment %}
    </ul>
{% endblock %}
{% block aqui_js %}
    <script src="{{ STATIC_URL }}js/bootstrap-combobox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.combobox').combobox();
        });
    </script>
{% endblock %}